$nav-item-hover-background: #f9f5f1;

$red-50: #fdf5f2;
$red-100: #fbebe9;
$red-200: #f9e5e3;

$gray-opacity-10: #0f0f0f1a;
$gray-opacity-15: #0f0f0f26;
$gray-opacity-20: #0f0f0f33;
$gray-opacity-50: #0f0f0f80;

$light-gray: #0f0f0f1a;
$medium-light-gray: #00000066;

$sidebar-hover: #37352f14;
$sidebar-page-block: #19171199;


$sidebar-switch: #37352f66;
$sidebar-icon: #37352f99;
$switcher-label: #37352f;

$gray-500: #f7f6f3;

$blue-300: #2eaadc;
$blue-500: #2b9ac7;
$blue-700: #069ccd;

$red-300: #eb57574d;
$red-400: #e16259;
$red-500: #cf534a;
$red-600: #be5643;
$red-700: #bf4d45;

$t-gray-50: #fafafa;
$t-gray-100: #f4f4f5;
$t-gray-200: #e4e4e7;
$t-gray-300: #d4d4d8;
$t-gray-400: #a1a1aa;
$t-gray-500: #71717a;
$t-gray-600: #52525b;
$t-gray-700: #3f3f46;
$t-gray-800: #27272a;
$t-gray-900: #18181b;

$t-sky-50: #f0f9ff;
$t-sky-100: #e1f3fe;
$t-sky-200: #bae5fd;
$t-sky-300: #7ed4fc;
$t-sky-400: #3abff8;
$t-sky-500: #0da2e7;
$t-sky-600: #0284c5;
$t-sky-700: #0369a0;
$t-sky-800: #075783;
$t-sky-900: #0c4a6e;
